<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-2" *ngFor="let book of books">
			<div class="card">
				<div class="card-body text-center">
					<img [src]="book.url" class="card-img-top" alt="">
					<div class="card-title">
						<h4>{{book.title}}</h4>
						<h4>{{book.author}}</h4>
						<p>{{book.description}}</p>
						<p>${{book.price}}</p>
						<p>{{book.createdAt | date}}</p>
						<a class="btn btn-primary btn-block" [routerLink]="['/book', book.__id]">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>