<div class="row">
   <div class="col-md-9 mx-auto">
   	<button class="btn btn-primary float-right my-2" data-toggle="modal" data-target="#modalBook">new Book</button>
   	  <table class="table table-stripped">
   	  	 <thead>
   	  	 	<tr>
   	  	 		<th>#</th>
   	  	 		<th>title</th>
   	  	 		<th>author</th>
   	  	 		<th>price</th>
   	  	 		<td></td>
   	  	 		<td></td>
   	  	 	</tr>
   	  	 </thead>
   	  	 <tbody>
   	  	 	<tr *ngFor="let book of books; let i = index">
   	  	 		<td scope="row">{{i+1}}</td>
   	  	 		<td>{{book.title}}</td>
   	  	 		<td>{{book.author}}</td>
   	  	 		<td>{{book.price}}</td>
             
   	  	 		<td>
   	  	 			<button class="btn btn-danger" (click)="removeBook(book._id)">delete</button>
   	  	 		</td>
   	  	 		<td>
   	  	 		   <button class="btn btn-primary" (click)="updateBook(book)">update</button>
   	  	 		</td>
   	  	 	</tr>
   	  	 </tbody>
   	  </table>
   </div>
</div>

<app-modal></app-modal>